body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}
.container1 {
  display: flex;
}
.half1 {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100vh;
}
.riverlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
  position: sticky;
  bottom: 0;
  padding: 10px;
  background-color: transparent; /* Remove white background */
}
.buttons {
  position: sticky;
  bottom: 0;
  padding: 10px;
  background-color: transparent; /* Remove white background */
}
.half2 {
  width: 70%;
  box-sizing: border-box;
  overflow: scroll;
}
#rivers {
  background-color: #f2f2f2;
}
#map {
  background-color: #eaeaea;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
