body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#annotation-panel {
  position: fixed;
  display: flex;
  row-gap: 2%;
  flex-direction: column;
  height: 100%;
  background-color: #f8f8f8;
  padding: 2%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  max-width: 20%;
}

#color-buttons {
  margin-top: 10px;
}

#color-buttons button {
  margin-right: 10%;
  padding: 6% 6%;
  cursor: pointer;
  border: none;
}

#color-blue {
  background-color: #007bff;
}

#color-brown {
  background-color: #4e0909ff;
}

#color-green {
  background-color: #056d05;
}

#color-black {
  background-color: black;
}

#annotation-text {
  width: calc(100% - 220px);
  width: 100%;
}

#annotate-button,
#clear-button,
#save-base64-button,
#toggleAnswerButton {
  width: 100%;
  height: 4%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#drawing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: crosshair;
  margin-top: 3%;
}

.riverlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;
}
